.movie-card {
  background-color: #1e1e1e;
  border-radius: var(--border-radius-min);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid var(--border-c);
}

.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-color: var(--border-cl);
}

.movie-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  opacity: 0.9;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.movie-body {
  padding: 16px;
  margin: 1rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title {
  margin: 0 0 4px 0;
  font-size: 1.6rem;
  color: var(--main-text);
  text-align: center;
}

.movie-details {
  display: flex;
  gap: 8px;
  font-size: 1rem;
  margin: 0;
}

.movie-genre {
  color: var(--sec-text);
  text-transform: capitalize;
}

.movie-rating {
  color: var(--yellow);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
}

.action-btn {
  background-color: transparent;
  border: 1px solid var(--border-cl);
  color: var(--sec-text);
  width: 45px;
  height: 45px;
  border-radius: var(--border-radius-circle);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.action-btn:hover {
  background-color: var(--border-c);
  transform: scale(1.1);
}

.fav-btn:hover {
  color: var(--red);
  border-color: var(--red);
}
.fav-btn.active {
  color: var(--main-text);
  background-color: var(--red);
}
.add-btn:hover {
  color: var(--green);
  border-color: var(--green);
}

.add-btn.active {
  background-color: var(--green);
  color: var(--main-text);
  border-color: var(--green);
}
