.movie-card {
  background-color: #1e1e1e;
  border-radius: 16px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #333;
}

.movie-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-color: #444;
}

.movie-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  opacity: 0.9;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.movie-body {
  padding: 16px;
  margin: 1rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title {
  margin: 0 0 4px 0;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
}

.movie-details {
  display: flex;
  gap: 8px;
  font-size: 1rem;
  margin: 0;
}

.movie-genre {
  color: #a0a0a0;
  text-transform: capitalize;
}

.movie-rating {
  color: #ffd700;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 4px;
}

.action-btn {
  background-color: transparent;
  border: 1px solid #444;
  color: #a0a0a0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

.action-btn:hover {
  background-color: #333;
  color: #fff;
  border-color: #fff;
  transform: scale(1.1);
}

.fav-btn:hover {
  color: #ff4d4d;
  border-color: #ff4d4d;
}

.add-btn:hover {
  color: #4caf50;
  border-color: #4caf50;
}

.add-btn.active {
  background-color: #4caf50; /* Green */
  color: white;
  border-color: #4caf50;
}

.fav-btn.active {
  color: #ff4d4d; /* Red Heart */
  border-color: #ff4d4d;
}
