:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  --main-background: #242424;
  --sec-background: #1e1e1e;
  --border-c: #333;
  --border-cl: #494949;
  --green: #4caf50;
  --yellow: #e9d668d3;
  --red: #ff4d4d;
  --main-text: #e4dede;
  --sec-text: #bab5b5;
  --message-nf: rgb(106, 104, 104);

  --border-radius-min: 13px;
  --border-radius-medium: 20px;
  --border-radius-circle: 50%;
}
