.movie-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
  padding: 40px;
  background-color: 242424;
}

.search-nf {
  align-items: center;
  justify-content: center;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  font-size: 2rem;
  color: rgb(106, 104, 104);
}
