.movie-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 24px;
  padding: 40px;
  background-color: var(--main-background);
  justify-content: center;
  align-items: center;
}

.search-nf {
  align-items: center;
  justify-content: center;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  font-size: 2rem;
  color: var(--message-nf);
}
