.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.search-input {
  padding: 8px 12px;
  border-radius: 20px;
  width: 30rem;
  margin-right: 10px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #333;
  color: white;
}
