.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.search-input {
  padding: 8px 12px;
  border-radius: var(--border-radius-medium);
  width: 30rem;
  margin-right: 10px;
  border: 1px solid var(--border-cl);
  outline: none;
  background-color: var(--border-c);
  color: var(--sec-text);
}
